
.scroll-top {
  position: fixed;
  bottom: 1.6rem;
  right: 1.6rem;
  width: 4rem;
  height: 4rem;
  border-radius: 0.8rem;
  z-index: 10;
  background-color: var(--color-light-salmon);
  display: flex;
  visibility: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: opacity .2s ease-in-out, background-color .2s ease-in-out, visibility .1s ease-in-out;
  transition: opacity .2s ease-in-out, background-color .2s ease-in-out, visibility .1s ease-in-out;
}

.scroll-top__icon {
  height: 1.8rem;
  color: var(--color-dark-brown);
}

@media (min-width: 767px) {
  .scroll-top:hover {
    background-color: var(--color-orange-brown);
  }
}
