.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -3.2rem;
}

.header img {
  height: 6.4rem;
  width: 6.4rem;
  border-radius: 0.8rem;
}

.banner {
  background-color: var(--color-light-salmon);
  height: 7.2rem;
}

.header-title {
  margin-top: 1.6rem;
  color: var(--color-light-salmon);
  font-weight: 700;
  font-size: 2.4rem;
}

.header-subtitle {
  font-size: 1.4rem;
  color: var(--color-gray);
  font-weight: 400;
}
