.header__description {
  font-weight: 400;
}

.header__title {
  font-weight: 700;
}

.header__title {
  font-size: 2.1rem;
  color: #e9c6af;
}

@media (min-width: 767px) {
  .header__title {
    font-size: 2.4rem;
  }
}

.header__description {
  font-size: 1.2rem;
  color: #a7a5a4;
}

@media (min-width: 767px) {
  .header__description {
    font-size: 1.4rem;
  }
}

.header {
  margin-top: -2.8rem;
  margin-bottom: 2.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 767px) {
  .header {
    margin-top: -3.2rem;
    margin-bottom: 2.4rem;
  }
}

.header__avatar {
  width: 5.6rem;
  height: 5.6rem;
  border-radius: 0.8rem;
}

@media (min-width: 767px) {
  .header__avatar {
    width: 6.4rem;
    height: 6.4rem;
  }
}

.header__title {
  margin-top: 1.6rem;
}
