:root {
  --color-light-salmon: #e9c6af;
  --color-gray: #a7a5a4;
  --color-dark-brown: #241f1c;
  --color-gray-brown: #35312e;
  --color-white-yellow: #eeeede;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Nunito", sans-serif;
}

body {
  background-color: var(--color-dark-brown);
}
